/* for small devices  */
@media screen and (max-width:576px) {

    /* shared styles  */
    .title {
        font-size: 2rem;
    }

    /* header  */
    nav {
        background: transparent;
        padding: 0;
    }

    nav ul,
    nav .input {
        display: none;
    }

    .logo h2 {
        color: black;
        font-size: 1.25rem;
    }

    nav .fa-bars {
        display: block;
        font-size: 1.25rem;
    }

    .hero {
        height: 400px;
    }

    .hero .hero-fruit {
        display: none;
    }

    .hero .hero-text h1 {
        font-size: 2rem;
    }

    /* date section  */
    .date {
        margin: 0 auto;
        flex-direction: column;
    }

    .date .heading {
        text-align: center;
    }

    .date .day {
        gap: 20px;

        i {
            font-size: 1rem;
            margin-top: 15px;
        }

        p {
            margin-top: -10px;
        }
    }

    /* price section */
    .price>div {
        grid-template-columns: repeat(1, 1fr);
    }

    /* team section  */
    .team {
        padding: 50px 20px;
    }

    .team .member {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    /* feature section  */
    .feature .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    /* footer section  */
    .footer .nav ul {
        flex-direction: column;
    }
}


/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* header */
    nav {
        padding: 20px;
    }

    nav ul,
    .hero .hero-fruit {
        display: none;
    }

    .logo h2 {
        font-size: 2rem;
    }

    nav .input {
        width: 270px;
        height: 46px;
    }

    .hero .hero-text h1 {
        font-size: 3rem;
    }

    /* date section  */
    .date {
        margin: 0 auto;
        flex-direction: column;
    }

    .date .heading {
        text-align: center;
    }

    /* price section */
    .price>div {
        grid-template-columns: repeat(2, 1fr);
    }

    /* team section  */
    .team {
        padding: 50px 30px;
    }

    .team .member {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    /* feature section  */
    .feature .container {
        grid-template-columns: repeat(2, 1fr);

    }

    .feature .container .middle {
        grid-column: span 2;
        order: -1;
        height: 400px;
        margin-bottom: 50px;
    }


}





/* for large devices  */
@media screen and (min-width:992px) and (max-width:1180px) {
    .logo h2 {
        font-size: 2.5rem;
    }

    nav .input {
        width: 250px;
    }

    .hero .hero-fruit {
        display: none;
    }

    /* date section  */
    .date {
        margin: 0 auto;
    }
}