@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* shared styles  */

section {
    max-width: 1480px;
    padding: 20px;
    margin: 0 auto;
}

.btn-primary {
    border: none;
    padding: 20px 30px;
    border-radius: 8px;
    color: white;
    background: rgb(248, 85, 89);
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}

/* header */
header {
    max-width: 1480px;
    padding: 50px 20px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 600px;
    padding: 30px 50px;
    background: rgb(248, 85, 89);
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul a {
    font-size: 1.125rem;
    color: white;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h2 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

nav .input {
    width: 400px;
    height: 56px;
    position: relative;
}

nav .input input {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    border: none;
    padding-left: 30px;
}

nav .input i {
    color: black;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
}

nav .fa-bars {
    display: none;
}

.hero {
    height: 600px;
    border-radius: 8px;
    background: linear-gradient(180.00deg, rgb(18, 18, 18) -14.417%, rgba(18, 18, 18, 0) 100%), url(../images/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.hero .hero-text {
    margin: 50px auto;
    padding-top: 80px;
}

.hero .hero-text h1 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 24px;
}

.hero .hero-text p {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 32px;
}

.hero .hero-fruit {
    width: 1190px;
    background: white;
    box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.hero .hero-fruit img {
    margin-bottom: 16px;
}